.canvasContainer {
  width: 100vw; /* Use 100vw to make it full width */
  height: auto; /* Allow the height to adjust based on the aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 100%; /* Make the canvas take up the full width of the container */
  height: auto; /* Allow the height to adjust based on the aspect ratio */
  max-width: none; /* Remove the max-width constraint */
  max-height: none; /* Remove the max-height constraint */
}
  
  